body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f1;
}

.container {
    background-color: #f7f7f1;
    border: 2px solid black;
    padding: 0;
}

header {
    height: 100px;
    background-color: #bddbce;
    margin-bottom: 1rem;
}

.title {
    position: absolute;
    top: 45px;
    left: 40%;
    font-weight: bold;
}

.section-header {
    font-size: 1.5rem;
}

.submit-button.btn.btn-outline-success {
    color: #83a093;
}

.input-container {
    margin-bottom: 1rem;
    margin-left: 1rem;
}

#employee-table {
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.expense-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    /* for layout debugging */
    /* border: 1px solid pink; */
}

#total-monthly-expense {
    margin-right: 1rem;
    margin-top: .5rem;
}

td {
    font-size: 1.25rem;
    /* for layout debugging */
    /* border: 1px solid blue; */
}